body { margin: 2.5vw 0; }
table, form {
  margin: 0 7.5vw;
  overflow: auto;
}
table {
  float: left;
  width: 60vw;
}
form {
  width: 17.5vw;
}

[readonly] {
  opacity: 0.5;
}

th, td {
  text-align: center;
  padding: 0 0.5em;
}
td[title] { border: dotted; }

label {
  display: block;
  margin-top: 0.5em;
  width: fit-content;
}

input[type=submit] {
  margin-top: 2.5em;
}